@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

body {
  background-color: black;
  /* background-color: blue; */
  margin: 0;

  color: white;
}
.container {
  margin-left: 100px;
  margin-right: 100px;
}
body p {
  opacity: 0.5;
}
.intern-styles-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
/* navbar link starts here  */

nav {
  display: flex;
  justify-content: space-between;
}
.nav-home-link {
  width: 92px;
  height: 38px;
  border-radius: 20px;
  background-color: rgb(230, 83, 60);
  text-align: center;
  /* padding-top: 10px; */
}
.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.nav-links a {
  margin-right: 47px;
  color: white;
  text-decoration: none;
}
.heading-title {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
}
.hamburger {
  display: none;
}

/* banner section starts  */
.banner {
  display: flex;
  margin-bottom: 100px;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
  position: relative;
}
.hidden {
  display: none;
}
.banner-image {
  margin-left: 150px;
  background-image: url("../images/banner.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 400px;
  position: relative;
  background-blend-mode: overlay;
}
.dancing-script-shape {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  /* font-style: normal; */
  font-size: 100px;
  font-weight: 700;
}
.banner h1 {
  font-size: 78px;
  font-weight: 900;
}
.banner p {
  opacity: 0.5;
  text-align: left;
}
.banner-left {
  width: 40%;
  margin-left: 100px;
}
.join-club-button {
  width: 200px;
  color: white;
  height: 50px;
  border-radius: 40px;
  background-color: rgb(230, 83, 60);
  text-align: center;
  border: none;
  margin-right: 50px;
  margin-bottom: 50px;
}
.download-app-button {
  width: 200px;
  color: white;
  height: 50px;
  border-radius: 40px;
  /* background-color: rgb(230, 83, 60); */
  background-color: black;
  text-align: center;
  border: 1px solid white;
}

.banner-image-writings {
  position: absolute;
  text-align: left;
  padding-left: 20px;

  /* top: 20px; */
  width: 190px;
  height: 120px;
  top: 100px;
  right: 80px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.banner-image-writings h1 {
  font-size: 40px;
}
.banner-image-writings p {
  margin-top: -30px;
}
.play-icon {
  display: none;
}
.banner-video-writings {
  position: absolute;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  /* top: 20px; */
  width: 190px;
  height: 120px;
  top: 400px;
  right: 450px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.video-tag {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: orange;
  margin-right: 10px;
}

/* change your habit  */
.habit {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.habit-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.habit-flex {
  height: 374px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.habit img {
  border-radius: 50%;
  /* width: 50%; */
}

/* run extra mile section starts  */
.run-extra-mile {
  margin-top: 100px;
  background-color: rgb(77, 87, 84);

  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 50px;
}
.run-extra-mile p {
  text-align: left;
}
.run-description {
  width: 40%;
}
.run-extra-mile img {
  margin-right: 0px;
  width: 40%;
  height: 400px;
  /* margin-right: 90px; */
  /* padding: 50px; */
  border-radius: 20px;
}
.run-extra-mile h2 {
  font-size: 62px;
  text-align: left;
}
/* bmi section  */
.bmi-title {
  margin-left: 100px;
}
.bmi-description {
  margin-left: 80px;
}
.bmi-section {
  padding: 20px;
  display: flex;

  background-color: rgb(34, 34, 34);
}
.bmi-chart {
  margin-left: 100px;
  width: 40%;
}
.bmi-calculator {
  margin-right: 100px;
}
.bmi-calculator p {
  text-align: left;
}
table,
td,
th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
}
td {
  color: rgba(255, 255, 255, 0.5);
}
table {
  border-collapse: collapse;
}
input,
select,
.gender {
  border-radius: 8px;
  padding-left: 13px;
  background-color: rgba(255, 255, 255, 0.1);
}
form {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 300px);
}
.activity-factor {
  grid-column: span 2;
}
form input,
select {
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #3e3e3e;
  color: #ffffff80;
  font-size: 1rem;
  padding: 10px;
  /* appearance: none; */
}
.activity-factor,
.gender {
  font-size: 1rem;
  color: #c3c3c380;
  border-right: 15px solid transparent;
}
/* meet our team  */
.team-section {
  margin-top: 100px;

  margin-bottom: 100px;
}
.teams {
  padding: 10px;
  border-radius: 20px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: gray;
  row-gap: 10px;
  column-gap: 10px;
}
.team-description {
  position: absolute;
  bottom: 5%;
  left: 5%;
  text-align: left;
}
.team {
  border-radius: 20px;
  position: relative;
}
.trainer-category {
  color: rgb(128, 128, 128);
  text-align: left;
}
.teams img {
  width: 100%;
  height: 320px;
  border-radius: 20px;
}
.team-section h1,
p {
  text-align: center;
}
/* unique section  */

.gym-benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #282c34;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 1200px;
}

.gym-benefits-content {
  max-width: 600px;
}

.gym-benefits-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffcc00;
}

.gym-benefits-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: left;
  line-height: 1.6;
}

.benefits-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between items */
  justify-content: space-around;
}

.benefits-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: calc(50% - 20px); /* Two items per row */
}

.benefit-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Makes the element circular */
  background-color: #52869e; /* Circle background color */
  color: #282c34; /* Icon color */
  font-size: 1.5rem;
  margin-right: 15px; /* Space between icon and text */
}

.gym-benefits-image {
  max-width: 500px;
}

.gym-benefits-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.call-to-action {
  background: #282c34;
  padding: 50px 20px;
  text-align: center;
  color: #fff;
  margin: 40px 0;
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
}

.call-to-action::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -20%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.15),
    transparent
  );
  z-index: 1;
  animation: rotateBg 20s linear infinite;
}

@keyframes rotateBg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cta-content {
  position: relative;
  z-index: 2;
}

.cta-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffcc00;
  text-transform: uppercase;
}

.cta-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #f1f1f1;
}

/* footer section  */
.footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  background: rgba(255, 255, 255, 0.1);
  padding: 50px;
}
.footer p {
  text-align: left;
}
.get-started-1 {
  margin-left: 100px;
  margin-top: 30px;
}
.get-started {
  margin-top: 30px;
}

.footer h1 {
  color: rgb(230, 83, 60);
}
.horizantal-line {
  margin: 0 auto;
  width: 700px;
}
#footer-copywrigth {
  text-align: center;
}
/* media query for small device  */
@media screen and (max-width: 576px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .banner {
    margin-left: 20px;
    flex-direction: column;
    align-items: center;
  }

  .banner-button {
    display: flex;
  }

  .banner h1 {
    font-size: 36px;
  }
  .banner-left,
  .banner-image {
    width: 100%; /* Full width on small screens */
    margin-left: 0;
    /* Remove left margin */
  }
  .banner-image {
    width: 300px;
    height: 400px;
  }
  .dancing-script-shape {
    /* font-style: normal; */
    font-size: 40px;
  }
  .join-club-button,
  .download-app-button {
    width: 100%;
    width: 200px;
  }

  .banner-image-writings {
    /* top: 20px; */
    width: 200px;
    height: 100px;
    top: 300px;
    right: 20px;
  }
  .banner-video-writings {
    width: 200px;
    height: 100px;
    left: 50px;
    top: 500px;
  }
  .play-icon {
    display: block;
    margin-left: 10px;
    margin-top: 5px;
  }

  .habit {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .habit p,
  h2 {
    text-align: center;
  }

  .habit img {
    border-radius: 50%;
    /* width: 50%; */
  }
  .run-extra-mile {
    flex-direction: column;
    /* width: 100%; */
    border-radius: 20px;
    padding: 20px;
  }
  .run-extra-mile button {
    width: 100%;
  }
  .run-description {
    width: 80%;
    text-align: start;
  }
  .run-extra-mile img {
    width: 90%;
    height: 350px;
    /* margin-right: 90px; */
    /* padding: 50px; */
    border-radius: 20px;
  }
  .run-extra-mile h2 {
    font-size: 32px;
  }

  /* bmi  */
  .bmi-title {
    /* margin-left: 100px; */
    text-align: left;
    /* margin: 0 auto; */
  }
  .bmi-boundary {
    /* border: 2px solid red; */
    text-align: left;
  }
  .bmi-description {
    width: 100%;
    margin-left: 30px;

    /* text-align: left; */

    margin: 0 auto;
  }
  .bmi-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: hidden;

    /* background-color: rgb(34, 34, 34); */
  }

  .bmi-chart {
    margin-left: 30px;
    /* width: 90%;
     */
    width: 100%;
  }
  .bmi-chart-heading {
    text-align: left;
    /* width: 70%; */
  }
  .bmi-calculator {
    margin-right: 0px;
  }
  .bmi-calculator h2 {
    text-align: left;
  }
  .bmi-calculator p {
    text-align: left;
  }
  .bmi-boundary {
    text-align: left;
  }

  form {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 150px);
  }
  .activity-factor {
    grid-column: span 2;
  }
  form input,
  select,
  .gender {
    height: 35px;

    /* appearance: none; */
  }
  .activity-factor,
  .gender {
    font-size: 1rem;
    color: #c3c3c380;
    border-right: 15px solid transparent;

    /* background-color: rgb(34, 34, 34); */
  }
  /* team section  */
  .teams {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .team img {
    width: 100%;
  }
  .trainer-hidden {
    display: none;
  }

  /* gym  */
  .gym-benefits {
    flex-direction: column;
    text-align: center;
  }

  .gym-benefits-content {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .gym-benefits-image {
    max-width: 100%;
  }
  .gym-benefits-title {
    text-align: left;
  }

  .benefits-list li {
    width: 100%; /* Full width on small screens */
  }
  .cta-content {
    text-align: left;
  }
  .cta-title {
    font-size: 1.8rem;
  }

  .cta-subtitle {
    font-size: 0.9rem;
    margin-bottom: 25px;
  }

  .footer {
    grid-template-columns: 1fr;
  }
  #footer-copywrigth {
    text-align: left;
    margin-left: 50px;
  }
  .get-started-1 {
    margin-left: 0px;
    margin-top: 30px;
  }
}
